<!--locals: { organ }-->
<div class="custom-control custom-checkbox">
  <span class="float-right badge badge-light round"></span>
  <%#= check_box_tag 'organ_ids[]', organ.id, checked(organ), :id => "organ_ids_#{organ.id}", class: 'custom-control-input' %>
  <%#= label_tag "organ_ids_#{organ.id}", "All", class: "custom-control-label" %>
  <%= link_to "Filter", root_url, class: 'btn btn-primary', action: :empty %>
  <%= link_to "Clear All", root_url, class: 'btn btn-primary', action: :empty %>
</div>