<h1>References for</h1>

<p class="weight-info">
  Animal: <%= @weight.animal_name %>
</p>

<!--MODIFY THIS FOR HEMAT-->
<p class="weight-info">
  Organ: <%= @weight.organ_name %>
</p>

<!--NOT IMPLEMENTED-->
<% if @references && @references.count > 0 %>
  <% @references.each do |reference| %>
    <%= reference_link(reference) %><br>
  <% end %>
<% end %>