<!--locals: { animal }-->
<div class="radio-button-btn-wrapper mr-2">
  <%= f.radio_button :animal_id, animal.id, class: "radio-button-btn background-red" %>
  <%= label_tag :animal_id, animal.name, class: "radio-button-btn-label white" %>
</div>