<!--    <div class="container">-->
<!--        <div class="column">-->
<!--          <div class="card parameters">-->
<!--            <article class="card-group-item">-->
<!--              <header class="card-header">-->
<!--                <h6 class="title">Parameters</h6>-->
<!--              </header>-->

<!--              <div class="filter-content">-->
<!--                <div class="card-body">-->
<%# Parameter.all.each do |parameter| %>
<%#= render :partial => 'shared/parameter_checkbox', locals: { parameter: parameter } %>
<%# end %>
<!--                </div>-->
<!--              </div>-->
<!--            </article>-->
<!--          </div>-->
<!--        </div>-->
<!--      <br>-->
<!--    </div>-->
