// Place all the styles related to the citation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.weight-info {
  margin-left: 50px;
}
.hanging-indent {
  padding-left: 60px ;
  text-indent: -40px ;
}
.mini-citation {
  margin-left: 50px;
}
.sources {
  margin-bottom: 30px;
}